<!DOCTYPE html>
<html lang="bg">

<head>
    <title>Secret Unitine</title>
    <meta charset="UTF-8" />
    <link href="./css/open-message.css" rel="stylesheet" />
    <script src="../../javascript/new-message.js" defer></script>  
    <script src="./js/message-reply.js" defer></script> 
     <script src="./js/read-message-from-db.js" defer></script> 
</head>

<body id="page-body">
    <header>
        <div id="header-part">
            <!--<img id="secret-unitine-logo" src="./img/" alt="Secret Unitine logo">-->
            <h1>Secret Unitine</h1>
        </div>
    </header>

    <main id = "main-page">
        <section id = "menu-section">
            <div id="menu-div">
                <h2 id = "create-message" class="menu-option">
                    <img id="pencil-icon" class="icons" src="../../img/pencil.png" alt="Pencil icon" />
                    Ново съобщение
                </h2>            
                <h2 id = "inbox" class="menu-option">
                    <img id="inbox-icon" class="icons" src="../../img/inbox.png" alt="Inbox icon" />
                    Входяща поща
                </h2>
                <h2 id = "inbox" class="menu-option">
                    <img id="sent-icon" class="icons" src="../../img/sent.png" alt="Sent icon" />
                    Изпратени
                </h2>
                <h2 id = "inbox" class="menu-option">
                    <img id="star-icon" class="icons" src="../../img/star.png" alt="Star icon" />
                    Със звезда
                </h2>
                <h2 id = "inbox" class="menu-option">
                    <img id="bin-icon" class="icons" src="../../img/bin.png" alt="Bin icon" />
                    Изтрити
                </h2>
                <!--Drafts??-->
            </div>
        </section>
              
    <section id="messages-table-section"> 
           <form id="open-message-form">
               <h2 id="message-title">
                 Тема на съобщението
               </h2>              
               <section id="message-text">
                 <h3 id="message-sender">Изпращач на съобщението</h3>
                    <p id="message-paragraph">
                      Текст на съобщението
                    </p>           

                     <section id="message-buttons-section">
                        <button id="reply-message-button" type="button">Отговор</button>  
                        <button id="reply-to-all-button" type="button">Отговор до всички</button>  
                        <button id="forward-button" type="button">Препращане</button>  
                        <button id="chain-button" type="button">Предишно съобщение</button>  
                    </section>  
                                         
              </section>                       
           </form>   
            
    <section>
            <div id="new-message" style="display: none;">
                <form id="new-message-form">
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td id="new-message-title">
                                        <h2>Ново съобщение</h2>
                                    </td>
                                    <td><img id="minimize-icon" class="new-message-nav-icons" src="../../img/minimize.png"
                                            alt="Minimize icon" title="Намаляване" /></td>
                                    <td><img id="cancel-icon" class="new-message-nav-icons" src="../../img/cancel.png"
                                            alt="Cancel icon" title="Затваряне БЕЗ запазване" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <input type="text" id="receivers" name="receivers" class="message-header"
                            placeholder="Получатели" />
                    </div>
                    <div>
                        <input type="text" id="topic" name="topic" class="message-header" placeholder="Тема" />
                    </div>
                    <div>
                        <textarea id="message-content" name="message_content" rows="15" cols="50"></textarea>
                    </div>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td><input type="submit" id="send-message-button" value="Изпращане" /></td>
                                    <td><img id="attach-files-icon" class="icons" src="../../img/attach-files.png"
                                            alt="attach-files icon" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </section>         
      </section>   
    </main>
       <!--Reply-message form--> 
                    <section id="reply-form-container"  style="display: none;">
                        <form id="reply-form">
                            <section class="reply-form-header">
                                <h3 id="reply-message-title">Отговор</h3>                                
                                <img src="../../img/cancel.png" alt="Затвори" id="close-reply-form" />
                            </section>
                            <input id="recipients-title" type="text" readonly>
                            <textarea id="reply-text-area" placeholder="Въведете съобщение" rows="6"></textarea>
                            <section class="reply-form-actions">
                                <button id="send-reply-button" type="button">Изпращане</button>
                            </section>
                      </form>
                    </section>
       <!--end of reply-message form-->  
  </body>
</html>